/*--- contact us css--- */

h1{
    text-align: center;
    border: 2px solid transparent;
    font-size: 70px;
}
.section{
    margin-top: 10%;
    ;
    display: -ms-inline-flexbox;
}
.box{

    border:  1px solid transparent;
    font-size: 17px;
    margin-left: 145px;
    margin-right: 145px;
    text-align: justify;
    padding: 10px;
    font-family: sans-serif;
  
    
}
#name{

    text-align: center;
    font-size: 50px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: -20px;
    font-family: sans-serif;
    font-weight: bold;
}  

h3{
  margin: 20px;
  border: 1px solid transparent;
  background-color: whitesmoke;
  padding: 5px;
  border-radius: 4px;
   
    
}
.margin{
    margin-left: 20px;
}
#submit{
     border: 10px solid red;
     background-color: red;
     font-weight: bolder;
     border-radius: 10px;
     color: black;    
}

.form{

    margin-left: 15%;
    margin-right: 15%;
    background-color:whitesmoke;
    padding: 40px 30px 60px 50px ;
    border-radius: 10px;

}
#line
{
    font-size: 50px;
    margin-left: 15%;
    font-weight: 700;
}
#line2{
    
    margin-left: 15%;
    margin-right: 15%;
    font-size: 20px;

}
#line3{
    margin-left: 64%;
    font-style: oblique;
    margin-right: 11%;
}
#proven{
    border: 1px solid transparent;
    text-align: justify;
    font-size: 32px;
    font-weight: bold;
}
.about-page{
    margin-top: 130px;border: 1px solid transparent;
    margin-left: 30%;
    margin-right: 20%;
    height: 350px;
    width: 700px;
    border-radius: 10px;
    float: inline-end;
    margin-left: 150px;
    margin-right: 200px;
    font-size: 17px;
    line-height: 25px;
}
#picc{
    border: 1px solid transparent;

  margin-left: 30%;
  margin-right: 20%;
  height: 350px;
  width: 700px;
  border-radius: 10px;
  float: inline-end;
  display: flex;
}
/*--- about page  us css--- */

#margin-about {
    padding-top: 105px;
}
.hero_panel {
    
   margin-top: -3%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container {
    max-width: 1140px;
    max-height: 487.27;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;

}
.row-1 {
    
    height: 487px;
  display: flex;

  flex-wrap: nowrap;
  margin-right: -15px;
  margin-left: -15px;
}
.col-1 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;

}
.picc3{
    
    height: 400px;
  width: 700px;
  margin-left: 50%;
  margin-top: -38%;
}

.picc4{
    
    height: 450px;
    width: 600px;
    margin-top: -42%;


}
.mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
}
.mt-2, .my-2 {
    margin-top: 0.5rem!important;
}
.display-4 {
    font-size: 3.5rem;
    font-weight: 300;
}

#who{
    margin-left: 250px;
}
#what{
    margin-left: 250px;
    margin-top: 70px;
}
.services_page {
    padding: 180px 152;
    text-align: center;
    display: flex;
    display: -ms-flexbox;
    align-items: center;
    height: calc(100vh - 90px);
}
#ers
{
    margin-top: 200px;
    margin-left: 350px;
}
 span {
    word-wrap: break-word;
    word-break: break-word;
}
.text-center {
    text-align: center!important;
}
.excerpt{
   
    padding: 10px;
    height: 300px;
    width: 400px;
    padding: 5px 15x 5px 10px;
    font-family: sans-serif;
    text-align: left;
    font-size: 16px;
    font-weight: 200;
}
#find{
    text-decoration: none;
    color: black;
}
.services_block{
    margin-left: 5%;
   
    margin-top: 12%;
}
.excerpt-2
{
    
    height: 350px;
    width: 600px;
    padding: 10px 10px 10px 10px;
    margin-top: 5%;
    margin-left: 66%;
    margin-right: 0%;
    font-family: sans-serif;
    text-align: left;
    font-size: 16px;
    font-weight: 200;

    text-align: left;
}
.services_block-2{
    margin-top: 5%;
   
    
}
.what-we{
    margin-left: 60%;
    margin-bottom: -5%;
    font-size: 20px;
}
.who-we{
    margin-left: -80%;
    font-size: 20px;
}